@import "tailwindcss";

@theme {
  --color-primary: #f42534 !important;
  --color-title: #181919 !important;
  --color-paragraph: #4f555f !important;
}
.supernova {
  background: transparent !important;
  box-shadow: none !important;
}
.form-all {
  background: transparent !important;
  box-shadow: none !important;
}
