@import "tailwindcss";

@theme {
  --color-primary: #f42534 !important;
  --color-secondary: #f8fafb !important;
  --color-title: #181919 !important;
  --color-paragraph: #4f555f !important;
}

.html {
  scroll-behavior: smooth;
}

.header {
  @apply mb-8;
}

.header > h2 {
  @apply text-3xl font-semibold;
}

.body > h2 {
  @apply text-3xl font-semibold mb-4;
}
.body > h3 {
  @apply text-lg font-semibold mb-4;
}

.body > p {
  @apply text-base mb-4;
}
.body > ul {
  @apply list-disc! ml-6! marker:text-primary! marker:text-2xl!;
}

.hero-text > h1 {
  @apply text-5xl! leading-snug!;
}
.hero-text > h1 > strong {
  @apply font-bold!;
}

.hero-text > p {
  @apply text-lg! leading-normal!;
}

.richtext > p {
  @apply text-base! leading-[28px]! text-paragraph mb-4!;
}
.richtext > h1 {
  @apply text-3xl! text-black mb-4!  font-bold!;
}

.richtext > h2 {
  @apply text-2xl! text-black mb-4!  font-bold!;
}
.richtext > h3 {
  @apply text-xl! text-black mb-4!  font-bold!;
}

/* CHROME & SAFARI */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #ffffff3d;
  border-radius: 25px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #f42534;
}

*::-webkit-scrollbar-thumb:active {
  background: brown;
}

/* MOZILLA FIREFOX */
*::-moz-scrollbar {
  width: 8px;
}

*::-moz-scrollbar-track {
  background-color: transparent;
}

*::-moz-scrollbar-thumb {
  background: #f42534;
}

*::-moz-scrollbar-thumb:hover {
  background: brown;
}

*::-moz-scrollbar-thumb:active {
  background: brown;
}

/* MICROSOFT INTERNET EXPLORER */
*::-ms-scrollbar {
  width: 8px;
}

*::-ms-scrollbar-track {
  background-color: transparent;
}

*::-ms-scrollbar-thumb {
  background: #f42534;
}

*::-ms-scrollbar-thumb:hover {
  background: brown;
}

*::-ms-scrollbar-thumb:active {
  background: brown;
}

/* OPERA */
*::-o-scrollbar {
  width: 8px;
}

*::-o-scrollbar-track {
  background-color: brown;
}

*::-o-scrollbar-thumb {
  background: #f42534;
}

*::-o-scrollbar-thumb:hover {
  background: brown;
}

*::-o-scrollbar-thumb:active {
  background: brown;
}

::-moz-selection {
  background: #f42534;
  color: black;
}
::-webkit-selection {
  background: #f42534;
  color: black;
}
::selection {
  background: #f42534;
  color: black;
}
